.title-header{
	display: inline-block;
    font-family: SoftLine;
    color: white;
    font-weight: bold;
    margin-left: 32px;
    font-size: 37px;
    margin-top: 21px;
}

.short-header{
	margin-top: 10px!important;
}

.navbar-collapse{
	margin-top: 32px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background: none!important;
}

.navbar-nav > li > a{
    font-size: 25px;
    color: white;
}

.navbar-nav > li{
	margin-right: 14px;
}