.room-show-container{
	margin-top: 181px;	
}   

.slides{
	height: 350px;
}

.slick-slide, .slick-list , .slick-track, .slick-slider, .slick-slide div, .slick-slide div img{
	height:auto!important;
}

.slick-slide img{
	width:100%;
	margin: 0 auto;
}

.slick-prev:before, .slick-next:before{
    font-size: 34px!important;
    color: black!important;
}

.slick-prev, .slick-next{
	z-index: 100!important;
	top: 44%!important;
}

.slick-prev {
    left: 5%!important;
}

.slick-next {
	right: 5%!important;
}

.room-container{
	padding-left: 0!important;
    margin-top: -59px;
    max-width: 655px;
}

.room-info-container{
    margin-top: -46px;
}


