<div class="search-results-container ">
	<div class="col-xs-8">	
		<p class="search-results-header">SEARCH RESULTS</p>
		<div class="col-xs-6 search-result-show" ng-repeat="(key, value) in properties">
			<div class="hidden extra-room-info">
				<p>{{value.description}}</p>
				
			</div>
			<img src="{{value.image}}"/>
			<div class="ratings-container">
				<div class="user-info">
					<i class="fa fa-user" aria-hidden="true"></i><span>{{value.owner}}</span>	
				</div>
				<div class="address-info">
					<i class="fa fa-location-arrow" aria-hidden="true"></i><span>{{value.postcode}}</span>
				</div>
				<div class="remaining-rating">
					<i ng-repeat="n in value.remaining_rating track by $index" class="fa fa-star-o" aria-hidden="true"></i>
				</div>
				<div class="filled-rating">
					<i ng-repeat="n in value.rating track by $index" class="fa fa-star" aria-hidden="true"></i>
				</div>

			</div>
		</div>
	</div>
	<div class="col-xs-4 search-page-map-container">
	    <div  map-lazy-load="https://maps.google.com/maps/api/js" class="map-container">
	      <ng-map center="[51.590, -0.017]" zoom="12">
	      	<marker ng-repeat="(key, value) in properties" position="{{value.position}}"></marker>
	      </ng-map>
	    </div>		
	</div>
</div>