<!DOCTYPE html>
<html>
<head>
  <title>Creative Rooms</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body ng-app="creativeRooms">
  <div class="row">
    <div class="col-xs-12 ">
      <div ng-include="'nav/_nav.html'"></div>
		  <div ng-include="'search/_searchbar.html'"></div>
    	<ui-view></ui-view>
    </div>
  </div>
</body>
</html>