<!DOCTYPE html>
<html>
<head>
  <title>Creative Rooms</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>

  <%= csrf_meta_tags %>
</head>
<body ng-app="creativeRooms">
  <div class="row">
    <div class="col-xs-12 full-content-container">
      <div class="header-separator" ng-include="'nav/_nav.html'"></div>
		  <!-- <div ng-include="'search/_searchbar.html'"></div> -->
    	<div ui-view=""></div>
    </div>
  </div>
</body>
</html>