<!DOCTYPE html>
<html>
<head>
  <title>Creative Rooms</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body ng-app="creativeRooms">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
		<div ng-include="'nav/_nav.html'"></div>
    	<ui-view></ui-view>
    </div>
  </div>
</body>
</html>