<div class="page-header short-header">

</div>

<div class="row content-container">
  <div class="container">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 large-searchbar-container">
        <div class="col-xs-12 search-container-large">
          <h3 class="search-header"> Search for your room </h3>
          <form class="navbar-form" role="search">
            <div class="input-group add-on large-searchbar-width">
              <input class="form-control" placeholder="Search" name="srch-term" ng-model="term" id="srch-term" type="text">
              <div class="input-group-btn">
                <button ng-click="search(term)" class="btn btn-default search-button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-2"></div>
  </div>
<!--   <div class="col-xs-3 no-float">
    <div class="map-container" ng-controller="MapCtrl">
      <ng-map center="[51.590, -0.017]" zoom="12"></ng-map>
    </div>
  </div> -->
</div>


